footer{
    background-color: #94AE94;
    color : white;
    display: flex;
    justify-content: space-between;
    .media{
        p:nth-child(1){
            font-family: 'magnum';
            
        }
    
    }
    .logo{
        p{
            font-family: 'magnum';
            
        }
    
    }
    

    
}