.creator{
    margin-top: -12%;
    .title{
        display: flex;
        h1{
            font-family: 'Magnum';
            color:#9D4C32;
            font-size: 4.688rem;
        }
       
    }
    h2{
        font-family: 'magnum';
        color:#9D4C32;
    }
    p{
        color:#302E2E;
        font-family: 'Roboto';
        strong{
            font-weight: bold;
        }
    }
    .general-story{
        display: flex;
        .customer_quote{
            display: block;
        }
    }
}