.creator{
    margin-top: -12%;
    .title{
        display: flex;
        h1{
            font-family: 'Magnum';
            color:#9D4C32;
            font-size: 4.688rem;
        }
        img{
            position: relative;
            left:0;
        }
    }
}