main{
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            a{
                font-family: 'Roboto';
            }
            
            
            .link_pictures{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .link-text{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    top:-400px;
                    h1{
                        position: relative;
                    
                        font-size: 6.25rem;
                        font-family: 'magnum';
                        margin-bottom: 3%;
                        color: white;
                        width: 630px;
                    }
                    .subtitle{
                        position: relative;
                        
                        font-family: 'magnum';
                        
                        
                        color: white;
                        font-size: 3.75rem;
                        width: 800px;
                    }
                }
                .pictures{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
            }
            h3{
                font-family: 'magnum';
                color:#9D4C32;
            }
            .article{  
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .title-article{
                    font-size: 3.75rem;
                    text-align: center;
                    margin-top: -120px;
                    margin-bottom: 5%;
                }
                h3+a{
                    text-decoration: none;
                    color: white;
                    
                    font-size: 1.125rem;
                    font-weight: bold;
                    background-color: #9D4C32;
                    padding: 10px;
                    border-radius: 20px;
                }
            } 
            .story-galery{
                margin-top: 5%;
                margin-bottom: 5%;
                display:flex;
                width:1300px;
                
                
                .story{
                    margin: 3%;
                    
                    h3{
                        font-size: 3rem;
                        
                    }
                    .story-description{
                        margin-top: 10%;
                        margin-bottom: 10%;
                        font-family: 'Roboto';
                        font-size: 18px;
                        color:#302E2E;
                        opacity: 85%;
                        p{
                            margin-top: 4%;
                        }
                    }
                    a{
                    text-decoration: none;
                    color: white;
                    
                    font-size: 1.125rem;
                    font-weight: bold;
                    background-color: #9D4C32;
                    padding: 10px;
                    border-radius: 20px;
                    }
                }
                .galery{
                    margin: 3%;
                    
                }
            }  
        .wrap{
            width:1440px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .jewellery{
                display: flex;
                margin-top: 5%;
                margin-bottom: 5%;
                .jewellery_picture{
                    max-width: 737px;
                    display: flex;
                    #jewel{
                        position: relative;
                        top:90px;
                        left: -160px;
                        z-index:-1;
                    }
                }
                .upper-category{
                    display: flex;
                    margin-bottom: 10%;
                    width: 600px;
                    
                    justify-content: space-between;
                    .picture-link{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                       
                        justify-content: space-between;
                        img{
                            border-radius: 50%;
                            margin-bottom: 10%;
                        }
                        a{
                            text-decoration: none;
                            color:#9D4C32;
                            font-size:1.25rem;
                            font-weight: bold;
                        }
                    }
                }
                .lower-category{
                    display:flex;
                    justify-content: center;
                    margin-left: 10%;
                    .picture-link{
                        margin-right: 13%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        img{
                            margin-bottom: 10%;
                            border-radius: 50%;
                        }
                        a{
                            text-decoration: none;
                            color:#9D4C32;
                            font-size:1.25rem;
                            font-weight: bold;
                        }
                    }
                }
            }
            
        }
        .sewing{
            display: flex;
            margin-top: 20%;
           
            .upper-category{
                display: flex;
                margin-bottom: 10%;
                width: 600px;
                
                justify-content: space-between;
                .picture-link{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                   
                    justify-content: space-between;
                    img{
                        border-radius: 50%;
                        margin-bottom: 10%;
                    }
                    a{
                        text-decoration: none;
                        color:#9D4C32;
                        font-size:1.25rem;
                        font-weight: bold;
                    }
                }
            }
            .lower-category{
                display:flex;
                justify-content: center;
                margin-left: 10%;
                .picture-link{
                    margin-right: 13%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    img{
                        margin-bottom: 10%;
                        border-radius: 50%;
                    }
                    a{
                        text-decoration: none;
                        color:#9D4C32;
                        font-size:1.25rem;
                        font-weight: bold;
                    }
                }
            }
            .sewing_picture{
                flex-direction: column;
                display: flex;
                max-height: 550px;
                margin-left: 10%;
                #sewing{
                    position: relative;
                    top:-690px;
                    left: -10px;
                    z-index:-1;
                }
            }
        }
    }   
}